.item img {
	height: 100%;
}
a:hover {
	color: lightblue;
	text-decoration: none;
}
.bl_cx_k {
	display: none;
	float: right;
	width: 0px;
	color: black;
	outline: none;
}
.container {
	width: 1200px !important;
	position: relative;
	background-color: white;
	padding: 0px;
}
.bl_top > div > div {
	float: left;
	margin-right: 15px;
}
.bl_top > div > div:nth-child(1) {
	margin-right: 350px;
}
.bl_top_word {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 40px;
}
.bl_top_word a,
.bl_top_word a:focus {
	color: black;
	text-decoration: none;
}

.bl_top_nav {
	margin: 0px auto;
}
.bl_top_ul {
	margin-left: 80px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.bl_top_ul li {
	font-size: 20px;
	letter-spacing: 8px;
	margin-left: 45px;
	height: 34px;
	cursor: pointer;
}
.bl_top_ul li:hover {
	border-bottom: 5px solid rgba(148,175,188);
}
.bl_top_ul li a,
.bl_top_ul li a:focus {
	color: black;
	text-decoration: none;
}
.bl_top_ul li a:hover {
	text-decoration: none;
}
/* company */
.bl_company_banner_word {
	background: rgba(0,0,0,0.5);
}
.carousel-caption {
	position: absolute;
	top: 70px;
	left: 120px;
	width: 400px;
	height: 300px;
}
.bl_company_word > div {
	float:left;
	margin-left: 40px;
	margin-top: 20px;
}
.bl_company_word > div:nth-child(1) {
	width: 400px;
	height: 380px;
	border-radius: 30px;
	border: 1px solid black;
	margin-left:80px;
}
.bl_company_word ul {
	width: 600px;
	list-style: none;
	margin: 0px auto;
	margin-top: 20px;
}
.bl_company_word ul li {
	font-size: 25px;
	width: 500px;
	
}
.bl_company_word ul li:nth-child(1) {
	font-size: 40px;
	color: green;
	letter-spacing: 5px;
}
.bl_company_word ul li:nth-child(2) {
	color: black;
	font-size: 30px;
	margin-top: 30px;
	line-height: 20px;
}

.bl_company_wordAndP {
	margin-top: 30px;
}
.bl_company_wordAndP > div {
	float: left;
	font-size: 25px;
	border: 3px solid black;
	border-radius: 20px;
	margin-left: 80px;
	width: 300px;
	height: 350px;
	position: relative;
	margin-top: 40px;
}
.bl_company_wordAndP > div > div {
	font-size: 20px;
}
.bl_company_wordAndP_learnMore {
	font-size: 20px;
	cursor: pointer;
	bottom: 0px;
	position: absolute;
	margin-left: 80px;
	margin-bottom: 15px;
}
.bl_company_wordAndP_learnMore a,
.bl_company_wordAndP_learnMore a:focus {
	color: black;
	text-decoration: none;
}
.bl_company div:nth-child(3) > div > div {
	font-size: 20px;
}
.bl_company div:nth-child(3) > div > div:nth-child(1){
	font-size: 30px;
}
/* EnterpriseDynamics(企业动态) */

/* product */
.bl_product_ul li {
	margin-left: 70px;
	font-size: 30px;
	border-bottom: 2px solid white;
	line-height: 95px;
	margin-bottom: 0px;
	height: 74px;
}
.bl_product_ul li:hover {
	border-bottom: 2px solid lightblue;
}
.bl_product_dami {
	width: 400px;
	position: relative;
}
.bl_product_dami > div:nth-child(1) {
	height: 650px;
}
.bl_product_dami > div:nth-child(1) > div {
	margin-left: 100px;
}
.bl_product_dami > div:nth-child(1) > div:nth-child(1) {
    border-left: 1px solid white;
	height: 650px;
	
}
.bl_product_dami > div:nth-child(1) div button {
    width: 170px;
    height: 70px;
    font-size: 20px;
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid white;
	border-right: 0px;
}
.bl_product_dami > div:nth-child(1) div button:hover {
	background-color: rgba(0,0,0,0);
}
.bl_product_dami > div:nth-child(1) div ul {
    font-size: 20px;
    width: 170px;
}
.bl_product_dami_right {
	position: absolute;
	left: 500px;
	width: 600px;
	top: 0px;
}
.bl_product_dami_right ul:nth-child(1) li {
	list-style: none;
	font-size: 20px;
	margin-top: 20px;
}
.bl_product_dami_right ul:nth-child(1) li:nth-child(1) {
	font-size: 40px;
}
.bl_product_dami_right ul:nth-child(2) li {
	border-bottom: 1px solid black;
	height: 120px;
	width: 80%;
	margin-left: 40px;
}
.bl_product_dami_right ul:nth-child(2) li img {
	float: left;
	width: 90px;
	margin-top: 5px;
}
.bl_product_dami_right ul:nth-child(2) li > div > div{
	float: left;
	font-size: 20px;
	margin-left: 50px;
    margin-top: 10px;

}
.bl_product_dami_right ul:nth-child(2) li > div > div div {
	margin-top: 10px;
	letter-spacing: 3px;
}
/* contact */
.bl_contact > div:nth-child(1) {
	width: 1200px;
}
.bl_contact > div:nth-child(2) {
	border-left: 1px solid white;
	width: 100%;
	background: url(../img/contactBg1.jpg) no-repeat;
	background-size: 100% 100%;
	height: 300px;
	
}
.bl_contact > div:nth-child(2) > ul {
	margin-top: 0px;
	margin-left: 145px;
}
.bl_contact > div ul li {
	list-style: none;
	font-size: 24px;
	line-height: 70px;
}
.bl_contact > div:nth-child(2) ul li:nth-child(1) {
	font-size: 45px;
}
.bl_contact > div:nth-child(2) ul li:nth-child(2) {
	font-size: 34px;
}
.bl_contact_ul {
	height: 80px;
	line-height: 80px;
	margin-bottom: 0px;
}
.bl_contact_ul li {
	margin-left: 50px;
	cursor: pointer;
}
.bl_contact_company {
	background: url(../img/contactbg2.jpg) no-repeat;
	background-size: auto 100%;
	width: 400px;
	position: relative;
	height: 600px;
}
.bl_contact_company > ul {
	list-style: none;
	margin-left: 145px;
	border-left: 1px solid white;
	height: 600px;
	margin-bottom: 0px;
}
.bl_contact_company > ul li {
	width: 60px;
	height: 60px;
	margin-left: 40px;
	margin-bottom: 20px;
}
.bl_contact_company > ul li img {
	width: 70px;
	margin-left: 30px;
}
.bl_contact_company > ul li:nth-child(1) {
	width: 200px;
	margin-top: 0px;
	margin-left: 0px;
	height: 100px;
	line-height: 100px;
}
.bl_contact_company > div {
	width: 600px;
	height: 300px;
	margin-left: 480px;
}
.bl_contact_company > div ul li{
	margin-left: 40px;
}
.bl_contact_company_Feedback > div:nth-child(1) {
	background-color: #37ac80;
	width: 500px;
	float: left;
}
.bl_contact_company_Feedback > div:nth-child(1) > ul {
	list-style: none;
	margin-left: 145px;
	border-left: 1px solid white;
	height: 600px;
	margin-bottom: 0px;
	border-left: 1px solid white;
	color: white;
	font-weight: 100;	
	padding-top: 20px;
}
.bl_contact_company_Feedback > div:nth-child(2) {
	width: 680px;
	float: right;
}
.bl_contact_company_Feedback > div:nth-child(2) textarea {
	width: 100%;
	height: 550px;
	font-size: 23px;
	padding-left: 20px;
	padding-top: 20px;
	letter-spacing: 3px;
}
.bl_contact_company_Feedback > div:nth-child(2) button {
	height: 30px;
	width: 70px;
	border-radius: 15px;
	font-size: 20px;
	color: white;
	background-color: #5991c5;
}
/* footer */
.footerTop {
	margin-top: 30px;
}
.footerTop ul {
	font-size: 20px;
	list-style: none;
}
.footerTop ul li:nth-child(1) {
	font-size: 25px;
	color: green;
}
.footerBottom {
	background-color: #d2e6dd;
	height: 200px;
	margin-bottom: 0px;
}
.footerBottom ul {
	float: left;
	margin-left: 120px;
	font-weight: 360;
	margin-top: 20px;
}
.footerBottom ul li {
	padding-top: 10px;
}
.footerBottom ul li:nth-child(1) {
	cursor: pointer;
}
.footerBottom li a,
.footerBottom li a:focus {
	color: green;
}
.footerBottom li a:hover {
	color: blue;
	text-decoration: none;
}




/* 产品中心轮播 */
body{ background:#fff; font:normal 12px/22px 宋体;  }
img{ border:0;}

.picScroll-left{ width:1200px; overflow:hidden; position:relative;height: 400px;  margin-top: 30px;}
.picScroll-left .hd{ overflow:hidden;margin-left: 500px; height:30px; padding:0 10px;margin-top: 50px; width: 200px;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
	 cursor:pointer; background:url(../img/arrow.png) no-repeat;}
.picScroll-left .hd .next{ background-position:0 -50px;  }
.picScroll-left .hd .prevStop{ background-position:-60px 0; }
.picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1;}
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url(../img/icoCircle.gif) 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd{ padding:10px;   }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; display:inline; overflow:hidden; text-align:center;margin-left: 70px;}
.picScroll-left .bd ul li .pic{ text-align:center;}
.picScroll-left .bd ul li .pic img{ width:300px; height:150px; display:block;  padding:2px; border:1px solid #ccc;margin: 0px auto;}
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:24px;   }
/* 测试 */
.bl_lb {
	display: block;
}
.bl_company {
	display: block;
}
/* .bl_product {
	display: none;
} */
.bl_EnterpriseDynamics {
    display: block;
}
/* .bl_contact {
	display: none;
} */
/* .bl_product_topbg {
	background: #45b884;
} */
.bl_contact_company {
	display: none;
}
.bl_contact_company_Feedback {
	display: block;
}