body{
	background-color: #d9eee5;
}
.container {
	width: 1200px !important;
	border: 1px solid black;
	position: relative;
	background-color: white;
	padding: 0px;
}
.bl_top_word {
	line-height: 100px;
	font-size: 15px;
}
.bl_top_nav {
	margin: 0px auto;
}
.bl_top_ul {
	margin-left: 80px;
	margin-bottom: 0px;
}
.bl_top_ul li {
	font-size: 20px;
	letter-spacing: 8px;
	margin-left: 45px;
	border-bottom: 5px solid white;
}
.bl_top_ul li:hover {
	border-bottom: 5px solid black;
}
.bl_top_ul li a,
.bl_top_ul li a:focus, 
.bl_top_ul li a:hover {
	color: black;
}
.bl_top_ul li a:hover {
	text-decoration: none;
}
/* company */
.bl_company_banner_word {
	background: rgba(0,0,0,0.5);
}
.carousel-caption {
	position: absolute;
	top: 70px;
	left: 120px;
	width: 400px;
	height: 300px;
}
.bl_company_word ul {
	width: 800px;
	list-style: none;
	margin: 0px auto;
	margin-top: 20px;
}
.bl_company_word ul li {
	font-size: 20px;
}
.bl_company_word ul li:nth-child(1) {
	font-size: 40px;
	color: green;
}
.bl_company_word ul li:nth-child(2) {
	color: black;
	font-size: 30px;
}
.bl_company_wordAndP {
	margin-top: 30px;
}
.bl_company_wordAndP > div {
	float: left;
	font-size: 25px;
	border: 3px solid black;
	border-radius: 20px;
	margin-left: 80px;
	width: 300px;
}
.bl_company_wordAndP_learnMore {
	font-size: 20px;
}
/* EnterpriseDynamics(企业动态) */

/* product */
.bl_product_ul li {
	margin-left: 70px;
	font-size: 30px;
	border-bottom: 2px solid white;
	line-height: 95px;
	margin-bottom: 0px;
	height: 74px;
}
.bl_product_ul li:hover {
	border-bottom: 2px solid lightblue;
}
.bl_product_dami {
	
	width: 400px;
	border: 1px solid black;
	background-color: black;
}
.bl_product_dami > div {
	margin-left: 100px;
	border-left: 1px solid white;
	height: 350px;
}
.bl_product_dami > div div button {
    width: 170px;
    height: 70px;
    font-size: 20px;
}
.bl_product_dami > div div ul {
    font-size: 20px;
    width: 170px;
}

/* contact */
.bl_contact > div:nth-child(1) {
	border: 1px solid black;
	width: 1200px;
}
.bl_contact > div:nth-child(2) {
	border-left: 1px solid white;
	width: 500px;
	margin-left: 145px;
}
.bl_contact > div ul {
	margin-top: 0px;
}
.bl_contact > div ul li {
	list-style: none;
	font-size: 24px;
	margin-top: 10px;
}
.bl_contact > div:nth-child(2) ul li:nth-child(1) {
	font-size: 45px;
}
.bl_contact > div:nth-child(2) ul li:nth-child(2) {
	font-size: 34px;
}
.bl_contact_ul {
	border-bottom: 1px solid black;
	margin-bottom: 0px;
}
.bl_contact_company ul {
	list-style: none;
	margin-left: 145px;
	border-left: 1px solid black;
}
.bl_contact_company ul li {
	width: 60px;
	height: 60px;
	margin-left: 40px;
}
.bl_contact_company ul li:nth-child(1) {
	width: 200px;
	margin-top: 0px;
	margin-left: 0px;
	height: 100px;
	line-height: 100px;
}
/* footer */
.footerTop {
	margin-top: 30px;
}
.footerTop ul {
	font-size: 20px;
	list-style: none;
}
.footerTop ul li:nth-child(1) {
	font-size: 40px;
	color: green;
}
.footerBottom ul {
	float: left;
	margin-left: 80px;
	font-weight: 360;
}
.footerBottom li a,
.footerBottom li a:focus {
	color: green;
}
.footerBottom li a:hover {
	color: blue;
	text-decoration: none;
}






/* 测试 */
.bl_lb {
	display: block;
}
.bl_company {
	display: block;
}
.bl_product {
	display: none;
}
.bl_EnterpriseDynamics {
    display: none;
}
.bl_contact {
	display: none;
}